/* your styles go here */

body, p, a, h1, h2, h3 {
font-family: "Playfair Display";
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
a {
  color: #ef402b;
}
body {
  font-size: 16px;
}
#headlink:hover {
    color: #eb4a04;
    text-decoration: none;
}

#resimg img {
  width:100%;
  max-width: 1000px;
}
